Chapter18/HelpDeskCS/HelpDeskCS/HelpDeskCS.DesktopClient/Service References/MailService/MailService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MailService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:35178/MailService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:35178/MailService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMailService_SendMailSOAP_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailSOAP" />
  </wsdl:message>
  <wsdl:message name="IMailService_SendMailSOAP_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailSOAPResponse" />
  </wsdl:message>
  <wsdl:message name="IMailService_SendMailREST_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMailREST" />
  </wsdl:message>
  <wsdl:message name="IMailService_SendMailREST_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailRESTResponse" />
  </wsdl:message>
  <wsdl:portType name="IMailService">
    <wsdl:operation name="SendMailSOAP">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailService/SendMailSOAP" message="tns:IMailService_SendMailSOAP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailService/SendMailSOAPResponse" message="tns:IMailService_SendMailSOAP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMailREST">
      <wsdl:input wsaw:Action="http://tempuri.org/IMailService/SendMailREST" message="tns:IMailService_SendMailREST_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMailService/SendMailRESTResponse" message="tns:IMailService_SendMailREST_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMailService" type="tns:IMailService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailSOAP">
      <soap:operation soapAction="http://tempuri.org/IMailService/SendMailSOAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMailREST">
      <soap:operation soapAction="http://tempuri.org/IMailService/SendMailREST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MailService">
    <wsdl:port name="BasicHttpBinding_IMailService" binding="tns:BasicHttpBinding_IMailService">
      <soap:address location="http://localhost:35178/MailService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>